<!DOCTYPE html>
<ion-view view-title="" hide-back-button="true" hide-nav-bar="false">
    <ion-content>
        <div class="logo row">
            <h1 class="col"><img src="img/logo.svg"> CO-OP ATMs</h1>
        </div>
        <div class="list list-inset padding-top">
            <div class="list-inset-header positive add-padding-bottom">
                Tap below to find ATMs:
            </div>
            <a class="item item-icon-left" ui-sref="atmlist">
                <i class="icon ion-location positive"></i>
                Near me
            </a>
            <a class="item item-icon-left" ui-sref="addressform">
                <i class="icon ion-map positive"></i>
                Near address
            </a>
        </div>
    </ion-content>
</ion-view>